.payment{
    height: 100%;
    width: 100%;
    background-color: lavender;
    justify-content: center;
    display: flex;
}
.payment-elements{
    height: 100%;
    justify-content: center;
    width: 50%;
    display: flex;
}
.logo{
    width: 400px;
    height: 400px;
    justify-content: center;
    display: flex;
}
.logo-container{
    width: 100%;
    height: 50%;
    justify-content: center;
    display: flex;
    padding: 10%;
}
.button-container{
    width: 100%;
    height: 30%;
    justify-content: center;
    display: flex;
    }
.pay{
    height: 150px;
    width: 400px;
    justify-content: center;
    display: flex;
    padding: 5%;
    font-size: 50px;
    font-weight: 900;
    border-radius: 10px;
    border: solid 5px lightseagreen;
    background-color:dodgerblue;
    color: white;
}