<div class="container" fxLayout="row">
    <div class="menu-item">
        <div class="options"></div>
        <div class="food-container">
            <img class="food" src="../../../assets/images/bacon-cheese-burger.jpg">
        </div>
        <div class="name">Bacon & Cheese Burger</div>
        <div class="price">R120</div>
    </div>
    <div class="menu-item">
        <div class="options"></div>
        <div class="food-container">
            <img class="food" src="../../../assets/images/beef-burger.jpg">
        </div>
        <div class="name">Beef Burger</div>
        <div class="price">R100</div>
    </div>
    <div class="menu-item">
        <div class="options"></div>
        <div class="food-container">
            <img class="food" src="../../../assets/images/chicken-burger.jpg">
        </div>
        <div class="name">Chicken Burger</div>
        <div class="price">R90</div>
    </div>
    <div class="menu-item">
        <div class="options" fxLayout="row">
            <div class="portion-size-1">8pcs</div>
            <div class="portion-size-2">12pcs</div>
        </div>
        <div class="food-container">
            <img class="food" src="../../../assets/images/chicken-wings.jpg">
            <!-- <a href='https://www.freepik.com/photos/spicy-chicken'>Spicy chicken photo created by Racool_studio - www.freepik.com</a> -->
        </div>
        <div class="name">Wings</div>
        <div class="price">R70</div>
    </div>
    <div class="menu-item">
        <div class="options" fxLayout="row">
            <div class="portion-size-1">Medium</div>
            <div class="portion-size-2">Large</div>
        </div>
        <div class="food-container">
            <img class="food" src="../../../assets/images/french-fries.jpg">
        </div>
        <div class="name">Fries</div>
        <div class="price">R30</div>
    </div>
    <div class="menu-item" fxLayout="column">
    <div class="coke">
    </div>
    <div class="fanta">
    </div>
    <div class="name">Drinks</div>
    <div class="price">R20</div>
    </div>
</div>
