.main{
    width: 100%;
    height: 100%;
    display: flex;
}
.logo{
    height: 15%;
    background-color: blue;
}
.order{
    min-height: 30%;
    max-height: 50%;
    background-color: red;
    width: 100%;
}
.assistant{
    width: 30%;
    overflow: hidden;
}
.order-items{
    width: 70%;
    background-color: cyan;
}
.feedback{
    height: 15%;
    background-color: brown;
}
.menu{
    min-height: 20%;
    max-height: 60%;
}