.home{
    /* Set the height to match that of the viewport. */
    height: 100vh;
   
    /* Set the width to match that of the viewport. */
    width: 100vw;
   
    /* Remove any browser-default margins. */
    margin: 0;
    background-image:url('./assets/images/Home-Page.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Roboto', sans-serif;
   }

   .home-loader{
    position: absolute;
    top: 15%;
    left: 30%;
    background-color: white;
    height: 80%;
    width: 40%;
    border-radius: 25px;
   }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
